body, html {
    margin: 0; padding: 0;
    background-color: #fdfdfd;
    color: #424242;
    background-repeat: no-repeat;
    background-size: cover; /* I'm gonna have a blurred background image */
}
.page-content {
    min-height: 300px; width: 600px; height: auto;
    margin: 60px auto 30px auto;
    background-color: blue;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapid {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

.leaflet-control-display {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: black;
    padding-top: 0.3em;
    font: bold 12px/20px Tahoma, Verdana, sans-serif;
    display: inline;
    text-align: center;
}

.leaflet-control-zoom-display {
    width: 26px;
    height: 26px;
    text-decoration: none;
}

.image_output {
    border: #0000ff 2px solid;
}

.preview-map {
    border: #0000ff 2px solid;
}

.loader {
    border: 10px solid #CCC; /* Light grey */
    border-top: 10px solid #3AE; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
